<footer class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md">
            <h1>{{company}}</h1><br />
            <small class="d-block mb-3 text-muted">&copy; 2020 {{company}}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/shop">Shop All</a></li>
                <li><a class="text-muted" href="/shipping">Shipping</a></li>
                <li><a class="text-muted" href="/privacy">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>

        </div>
        <div class="col-6 col-md">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="mailto:hello@{{domain}}">hello@{{domain}}</a></li>
                <li><a class="text-muted" href="#">Contact us page</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">

            <h5>Get 10% off your first order!</h5>
            <input type="email" class="form-input" placeholder="youremail@example.com" />
            <p class="lead">Sign up for the {{company}} newsletter for exclusive deals, new product releases, contests, and much
                more.</p>
        </div>
    </div>
</footer>

<script async src="js/site.js?v=3"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ga}}');
</script>
</body>

</html>